@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    

    <address>
        1500 North Harrison ave.<br />
        Cary, NC 27513<br />
        <abbr title="Phone">P:</abbr>
        919-228-4663
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:helpdesk@caryacademy.org">helpdesk@caryacademy.org</a><br />

    </address>

</div>