@{
    ViewBag.Title = "TabDB3.0 Home";
}

<div class="jumbotron">
    <h1>Tab DB 3.0</h1>
    <p class="lead">The Latest Version of the Tablet Repair Log Database</p>
    <p><a href="https://youtu.be/YhPejfTQfEA" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>@User.Identity.Name</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-primary">Recent Repairs</h2>
        <p>
            @{Html.RenderAction(actionName: "RecentRepairs", controllerName: "Repairs");}
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-primary">Your Repairs</h2>
        <p>
            @{Html.RenderAction("YourRecentRepairs", "Repairs", new { userName = User.Identity.Name });}
        </p>

    </div>
    <div class="col-md-4">
        <h2 class="text-primary">Recently Updated Tablets</h2>
        <p>
            @{Html.RenderAction(actionName: "RecentTablets", controllerName: "Tablets");}
        </p>
    </div>
</div>